*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-background: #ecf0f0;
    --chat-background: #e5ddd5;
    --send-background:  #b7c1c0;
    --received-background: #ecf0f3;
    --primary-color: #273b49;
    --accent-color: #192229;
    --font-color: #4a4a4a;
    --color-name:#1a1a1a;
    --color-txt:#192229;
    --border: 1px solid #ddd;
    --shadow-rgb: 0, 0, 0;
    --chat-gap: 10px;
    --gap: 15px;
    --small-radius: 8px;
    --medium-radius: 10px;
    --hover-background:#687782;
}

html {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--body-background);
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, sans-serif;
    color: var(--font-color);
}

.chat-container {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 100%;
    max-width: 700px;
    height: calc(100% - 50px);
    border: var(--border);
    border-radius: var(--small-radius);
    box-shadow: 0 1px 1px 0 rgba(var(--shadow-rgb), .06), 0 2px 2px 0 rgba(var(--shadow-rgb), .2);
}

.chat-header {
    display: flex;
    padding: var(--gap);
    border-top-right-radius: var(--small-radius);
    border-top-left-radius: var(--small-radius);
    background-color: var(--primary-color);
    color: #000;
    font-weight: bold;
}

.chat-talk {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: var(--gap);
    background-color: var(--chat-background);
    background-image: url(../static/images/chat-background.png);
    background-size: cover;
}

.chat-talk::-webkit-scrollbar {
    width: calc(var(--gap) / 2);
}

.chat-talk::-webkit-scrollbar-track {
    background-color: #ddd;
}

.chat-talk::-webkit-scrollbar-thumb {
    background-color: #bcbcbc;
    border-radius: var(--small-radius)
}

.msg {
    padding: var(--chat-gap);
    max-width: 90%;
    margin-bottom: var(--chat-gap);
}

.msg-received {
    align-self: flex-start;
    background-color: var(--received-background);
    border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) 0;
}

.msg-send {
    align-self: flex-end;
    background-color: var(--send-background);
    border-radius: var(--medium-radius) var(--medium-radius) 0 var(--medium-radius);
}

.msg-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--chat-gap);
    user-select: none;
}

.msg-text{
    color: var(--color-txt);
}

.msg-name {
    font-weight: bold;
    color:var(--color-name);
    margin-right: var(--chat-gap);
}

.msg-time {
    font-size: 11px;
    color: var(--color-name);
}

.chat-form {
    display: flex;
    padding: var(--gap);
    background-color: var(--primary-color);
    border-bottom-right-radius: var(--small-radius);
    border-bottom-left-radius: var(--small-radius);
}

/* class of lc_emoji_picker dependency */
.lcep-el-wrap {
    flex: 1;
}

.chat-input {
    background-color: #fff;
    padding: var(--chat-gap) var(--gap);
    border: none;
    border-radius: 20px;
    user-select: none;
    outline: none;
    font-size: var(--gap);
    min-height: 20px;
    width: 100%;
}

.chat-send-button {
    background-color: var(--accent-color);
    margin-left: var(--gap);
    padding: var(--chat-gap) var(--gap);
    border: none;
    border-radius: var(--small-radius);
    outline: none;
    font-size: var(--gap);
    font-weight: bold;
    color: #fff;
    cursor: pointer;

}
.chat-send-button:hover{
   background: var(--hover-background)
}


.icon-dragon{
    /*border: 1px solid black;*/
    margin-right: .5em;
    font-size: 1.3rem;
    color:#ecf0f3;
}

.chat-header h1{
    font-size:1.3rem;
    color: #ecf0f3;
}

.gopher{
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 5%;
    height: 8%;
    border-radius:5px;
    background-image: url(../static/images/sleep-gopher.jpg);
    background-size: cover;
    background-position: center center;
}

@media screen and (max-width: 480px){
    .gopher{
        display: none;
    }
}